@media only screen and (max-width: 500px) and (max-width: 1024px) {
html {
  font-family: Arial,Sans-serif;
  font-size: 14px;
}
.titol {
  font-size: 28px;
  font-weight: bold;
  color: blue;
  margin-bottom: 10px;
}
.contenidor {
  margin:auto;
  text-align: center;
}
.div_main {
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  height: 100vh;
  width: 100vh;
  overflow: none;
  /*$('.scrollDiv').css('max-height', $(window).height());*/
  text-align: center;
}
.div_intern {
  display: grid;
}
.div_botons {
  display: none; /* block */
}
.imatge {
  width: 48px;
  padding-left: 20px;
  padding-right: 20px;
}
.text {
  font-size: 14px;
  font-weight: normal;
}
.error {
  display: none;
  margin-bottom: 10px;
  text-align: left;
}
.escena {
  display: none; /* block */
  margin-bottom: 10px;
  min-height: 200px;
  text-align: left;
}
div#div_formulari {
  display: grid;
  margin: 40px auto 10px auto;
}
select {
  border: 1px solid blue;
  border-radius: 5px;
  padding: 10px 30px;
}

}